<div class="container">
    <h2>Lista de Usuarios</h2><br>
    <table class="table table-striped table-bordered">
        <thead>
            <tr class="table table-primary">
                <th>ID</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Rol</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @for(u of usuarios; track $index){
            <tr>
                <td>{{ u.id }}</td>
                <td>{{ u.nombre }}</td>
                <td>{{ u.correo }}</td>
                <td>{{ u.rol }}</td>
                <td class="text-center" style="width: 300px;">
                    <a class="btn btn-primary" routerLink="usuarios-add/{{u.id}}">Modificar</a>
                    <span> . </span> 
                    <a class="btn btn-primary" (click)="borrarUsuario(u.id)">Eliminar</a>
                </td>
            </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-primary" routerLink="usuarios-add/-1">Añadir Usuario</a>

</div>
