<div class="carousel-container">
  <p-carousel 
    [value]="images" 
    [numVisible]="1" 
    [numScroll]="1" 
    [circular]="true" 
    [autoplayInterval]="4000" 
    [responsiveOptions]="responsiveOptions"
    [showIndicators]="false"
    [showNavigators]="false"
  >
    <ng-template pTemplate="item" let-image>
      <div class="carousel-image-wrapper">
        <img [src]="image" class="carousel-image" />
      </div>
    </ng-template>
  </p-carousel>

  <button class="btn btn-primary participate-btn">Participe Aquí</button>
</div>
